// output: index.html
doctype html

head
  meta(charset="utf8")
  title 我的视差设计（fixed background, scrolling body)
  link(rel="stylesheet", href="css/style.css")
    

body
  header.bird-box
    .back-bird
    .logo
    .fore-bird
      
  section.content
    h1 我的视差设计（fixed background, scrolling body)
    hr
    p 视差滚动(Parallax Scrolling)是指让多层背景以不同的速度移动，形成立体的运动效果，带来非常出色的视觉体验。你所要做的就是不断滚动鼠标。视差滚动（Parallax Scrolling）是指让多层背景以不同的速度移动，形成立体的运动效果，带来非常出色的视觉体验。作为今年网页设计的热点趋势，越来越多的网站应用了这项技术。

  script(src="js/jquery-2.1.3.min.js")
  script(src="js/parallax.js")
